* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-outline-text-clr: #3d5afe;
  --btn-default-clr: #e0e0e0;
  --btn-default-text-clr: #3f3f3f;
  --btn-disable-text-clr: #9e9e9e;
  --btn-primary-clr: #2962ff;
  --btn-secondary-clr: #455a64;
  --btn-danger-clr: #d32f2f;
  --clr-white: #ffffff;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.container {
  width: 75%;
  padding: 1em 2em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

p {
  margin-bottom: 1em;
}
